{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/test/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/test/css/jumbotron-narrow.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li {% if page is defined and page == 'welcome'%}class="active"{% endif %}><a href="{{ path('_welcome') }}">Главная</a></li>
          <li {% if page is defined and page == 'about'%}class="active"{% endif %}><a href="{{ path('_about') }}">О нас</a></li>
          <li {% if page is defined and page == 'contact'%}class="active"{% endif %}><a href="{{ path('_contact') }}">Контакты</a></li>
        </ul>
        <h3 class="text-muted">Pegas Touristik</h3>
      </div>
            
        <div class="row marketing">
        {% block content %}{% endblock %}
        </div>
        
      <div class="footer">
        <p>&copy; 2014 Pegas Touristik</p>
      </div>

    </div> <!-- /container -->
{% endblock %}
